<h1>List of all Freebies</h1>



<table>
  <tr>
    <th>Item</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>

  <% @freebie.each do |freebie| %>
    <tr>
      <td><%= freebie.item %></td>
      <td><%= freebie.date %></td>
      <td><%= freebie.location %></td>
      <td><%= freebie.description %></td>
      <td><%= link_to 'Edit', edit_freeby_path(freebie)%></td>
      <td><%= link_to 'Destroy', freeby_path(freebie),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td></td>
    </tr>

  <% end %>
</table>

<p id='notice'><%= notice %></p>

<%= link_to 'Post New Item', new_freeby_path %>
<br/>







