<p>
  <strong>Item:</strong>
  <%= @freebie.item %>
</p>

<p>
  <strong>Date:</strong>
  <%= @freebie.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @freebie.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @freebie.description %>
</p>

<%= link_to 'Back', freebies_path %>
