<p>
  <strong>Item:</strong>
  <%= @freebie.item %>
</p>

<p>
  <strong>Date:</strong>
  <%= @freebie.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @freebie.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @freebie.description %>
</p>

<h2>Comments</h2>
<% @freebie.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@freebie, @freeby.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_freeby_path(@freebie) %> |
<%= link_to 'Back', freebies_path %>
