<p>
  <strong>Item:</strong>
  <%= @freeby.item %>
</p>

<p>
  <strong>Date:</strong>
  <%= @freeby.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @freeby.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @freeby.description %>
</p>

<h2>Comments</h2>
<% @freeby.comments.each do |comment| %>


  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>



<%= link_to 'Edit', edit_freeby_path(@freeby) %> |
<%= link_to 'Back', freebies_path %>
